
  <!-- /#sidebar-wrapper -->
  <div class="wrapper">

    <nav id="sidebar">
        <!-- Sidebar Header -->
        <div class="sidebar-header">
            <a class="navbar-brand" [routerLink]="['/']">
              <span>Brickfy</span>
              <img class="logo-sidebar" alt="Logo" src="./assets/img/Brickfy_logo_white_padding.svg">
            </a>
        </div>

        <!-- Sidebar Links -->
        <ul class="list-unstyled components">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
            <li>
              <a (click)="onClickLogout()">Logout</a>
            </li>

            <li><!-- Link with dropdown items -->
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Pages</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li><a href="#">Page</a></li>
                    <li><a href="#">Page</a></li>
                    <li><a href="#">Page</a></li>
                </ul>

            <li><a href="#">Portfolio</a></li>
            <li><a href="#">Contact</a></li>

            <li>
              <a (click)="onClickLogout()">Logout</a>
            </li>
        </ul>
    </nav>

</div>