@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}


.wrapper {
    display: flex;
    align-items: stretch;
    float: left;
}        

/* Sidebar Header */
#sidebar {
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    background: #3086E9;
    color: white;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}



/* Sidebar Header */
#sidebar .sidebar-header {
    padding: 25px 10px 150px;
    border-bottom: 1px solid white;
}

#sidebar img.logo {
    width: 150px;
}

#sidebar span.logo {
    font-weight: bold;
    font-size: 30px;
    color: white;
}


/* Sidebar Menu */
#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid white;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: white;
}
#sidebar ul li a:hover {
    color: #3086E9;
    background: #fff;
}

.active {
    background: rgb(1, 58, 123);
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: rgb(96, 156, 225);
}


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}

a[aria-expanded="true"]::before {
    content: '\e260';
}


